{% extends "_base.html" %}
{% load static %}
{% block title %} HOME {% endblock title %}

{% block content %} 
    <h1>Homepage</h1>
    <img src='{% static "images/starryNight.jpeg" %}' class="homeImage" alt="">
    {% if user.is_authenticated %}
        hi {{ user.email }}
        <p><a href="{% url 'account_logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href=" {% url 'account_login' %} ">Login</a>
        <a href=" {% url 'account_signup' %} ">Sign Up</a>
    {% endif %}
        
{% endblock content %}
